.coloredBack {
    display: grid;
    place-items: center;
    width: 100%;
    height: 240px;
    background: #21092F;
}
@media (width>1300px) {
    .coloredBack {
        width: 483px;
        height: 100vh;
    }
}
@media (width>1900px) {
    .coloredBack {
        width: 683px;
        height: 100vh;
    }
}