.greyCardClass {
    background-image: url(/src/public/greyCard.svg);
    width: 286px;
    height: 157px;
    margin-left: 55px;
}
.blackDivsquear {
    width: 286px;
    height: 34.604px;
    background: #2F2F2F;
    margin-top: 14px;
}
.cvvDiv {
    width: 230.975px;
    height: 29.739px;
    border-radius: 6px;
    background-color: #ADB5BE;
    margin-top: 15px;
    margin-left: 28px;
}
.cvvNums {
    color: var(--White, #FFF);
    text-align: right;
    font-family: "Space Grotesk";
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.286px;
    text-transform: uppercase;
    position: absolute;
    margin-top: 9px;
    margin-left: 200px;
}
@media (width>1300px){
    .greyCardClass {
        background-image: url(/src/public/greyCardDesk.svg);
        width: 447px;
        height: 245px;
        position: absolute;
        margin-top: 260px;
        margin-left: 555px;
    }
    .blackDivsquear {
        width: 447px;
        height: 54px;
    }
    .cvvDiv {
        width: 361px;
        height: 38px;
        margin-left: 42px;
    }
    .cvvNums {
        font-size: 14px;
        margin-left: 320px;
    }
    .greyLines {
        background-image: url(/src/public/greyCardUnderLinesDesk.svg);
        width: 186px;
        height: 26px;
        margin-top: 38px;
        margin-left: 132px;
    }
}
@media (width>1900px){
    .greyCardClass {
        margin-left: 730px;
    }
}