input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
               -webkit-appearance: none;
}
.greyCardClass {
    background-image: url(/src/public/greyCard.svg);
    width: 286px;
    height: 157px;
    margin-left: 55px;
}
.blackDivsquear {
    width: 286px;
    height: 34.604px;
    background: #2F2F2F;
    margin-top: 14px;
}
input[type=number] {
    text-align:bottom 0px;padding-left:190px
}
::placeholder {
    color: #FFF;
}
.numInputBox {
    pointer-events: none;
    border-radius: 5px;
    background-color: #ADB5BE;
    margin-left: 28px;
    margin-top: 15px;
    width: 230.975px;
    height: 29.739px;
    flex-shrink: 0;
    border: none;
    outline: none;
    color: white;
}
@media (width>1300px){
    .greyCardClass {
        background-image: url(/src/public/greyCardDesk.svg);
        width: 447px;
        height: 245px;
        position: absolute;
        margin-top: 260px;
        margin-left: 555px;
    }
    .blackDivsquear {
        width: 447px;
        height: 54px;
    }
    .numInputBox {
        width: 361px;
        height: 38px;
        margin-left: 45px;
        font-size: 14px;
    }
    input[type=number] {
        text-align:bottom 0px;padding-left:325px
    }
    .greyLines {
        background-image: url(/src/public/greyCardUnderLinesDesk.svg);
        width: 186px;
        height: 26px;
        margin-top: 38px;
        margin-left: 132px;
    }
}
@media (width>1900px){
    .greyCardClass {
        margin-left: 730px;
    }
}