.bigBox {
    display: grid;
    place-items: center;
}
@media (width>1300px) {
    .bigBox {
        margin-left: 700px;
        margin-top: -700px;
    }
}
@media (width>1900px){
    .bigBox {
        margin-left: 700px;
        margin-top: -860px;
    }
}